.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 8px;
}

.submitButton {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  border: 1px solid #0F60C4;
}

.submitButton:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
